@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
#alert h1 {
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: #fcfcfc;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.green {
  color: var(--success-color);
}
.button-box h1,
.message h1,
.message p {
  color: var(--dark-color) !important;
}
.red {
  color: var(--danger-color);
}
.alert {
  font-weight: 700;
  letter-spacing: 5px;
}
button,
.dot {
  cursor: pointer;
}
#success-box {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 35vw;
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
  z-index: 1000000000000;
}
#error-box {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 35vw;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  z-index: 1000000000000;
}
.dot {
  width: 8px;
  height: 8px;
  background: #fcfcfc;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
}
.dot:hover {
  background: #c9c9c9;
}
.two {
  right: 12%;
  opacity: 0.5;
}
.face {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 18%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}
.face2 {
  position: absolute;
  width: 22%;
  height: 22%;
  background: #fcfcfc;
  border-radius: 50%;
  border: 1px solid #777;
  top: 18%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}
.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #777;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.right {
  left: 68%;
}
.mouth {
  position: absolute;
  top: 40%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.happy {
  border: 2px solid;
  border-color: transparent #777 #777 transparent;
  transform: rotate(45deg);
}
.sad {
  top: 46%;
  border: 2px solid;
  border-color: #777 transparent transparent #777;
  transform: rotate(45deg);
}
.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: 0.5;
  background: #777;
  left: 40%;
  top: 40%;
  border-radius: 50%;
  z-index: 1;
}
.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}
.message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 41%;
}
.button-box {
  position: absolute;
  background: #fcfcfc;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
  transition: all 0.5s ease-in-out;
}
.button-box:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}
@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}
@media screen and (max-width: 786px) {
  #success-box,
  #error-box {
    left: 30vw;
  }
}
@media screen and (max-width: 440px) {
  #success-box,
  #error-box {
    left: 10vw;
  }
}
