/***************************/
/******* Add Post Btn*******/
/***************************/
@keyframes slider {
  from {
    width: 0;
    font-size: 0;
  }

  to {
    width: 200px;
    font-size: 1.2rem;
  }
}

#add-post-btn {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 3vw;
}

.add-btn {
  font-size: 2.5rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  z-index: 100;
  text-align: center;
  cursor: pointer;
}

.add-desc {
  width: 0;
  height: 60px;
  text-align: right;
  padding-top: 15px;
  font-size: 0;
  background-color: var(--primary-color);
  transform: translateX(-30px);
}

.arrow-right {
  transform: translateX(-30px);
  height: 0;
  width: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid var(--primary-color);
}

.add-btn:hover + .add-desc {
  animation: slider 0.5s forwards;
}

.add-btn:hover {
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.5);
}

/***************************/
/***** Add Post Modal*******/
/***************************/
#add-post {
  background-color: var(--graylight-color);
  height: 80vh;
  width: 65vw;
  position: absolute;
  left: 17.5vw;
  top: 10vh;
  color: var(--white-color);
  z-index: 10000000000;
}

#add-post .line {
  background-color: var(--light-color);
}

/***************************/
/******** FeedPost *********/
/***************************/
.feed-post,
.post {
  margin: 0.5rem 0;
  padding-top: 1rem;
  color: var(--white-color);
  width: 60%;
  margin-left: 3vw;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.toggler {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 25px;
  height: 25px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: -15px;
  left: -30px;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger top and Bottom Lines */
.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hamburger > div:after {
  top: 10px;
}

/* Toggler Animation */
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns lines into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover when Checked */
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.post-info {
  position: relative;
}

.post-actions {
  background-color: var(--graylight-color);
  position: absolute;
  top: 17px;
  left: -140px;
  width: 170px;
  padding: 1rem;
  border-radius: 15px;
  visibility: hidden;
}

.post-actions.show {
  visibility: visible;
}

.post-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-action:first-child {
  margin-bottom: 0.5rem;
}

.post-action i {
  margin-right: 1rem;
}

.post-body {
  color: var(--white-color) !important;
}

.post-text {
  margin-top: 1rem;
}

.post-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

.tags {
  font-size: 16px;
  font-style: italic;
  color: var(--light-color);
}

.college-name {
  background-color: var(--primary-color);
  border-radius: 50px;
  padding: 3px 15px;
}

.post-img {
  height: 450px !important;
  background: url("../img/service-2.PNG") no-repeat center center/cover;
}

.post-footer {
  display: flex;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
  z-index: 1000;
}

.post-vote,
.post-comment {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: stretch;
}

.post-comment {
  width: 12%;
}

.post-comment i {
  color: var(--white-color) !important;
}

.vote-count,
.comment-count {
  font-size: 1.3rem;
}

.post-footer i {
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.post-footer i:hover {
  transform: scale(1.1);
}

/***************************/
/********* Filters *********/
/***************************/

#filters {
  width: 30%;
  border-radius: 12px;
  padding: 1rem;
  position: fixed;
  top: 21vh;
  right: 5vw;
}
.filter {
  margin-top: 1.5rem;
}
.filter .btn {
  margin: 0.2rem;
}

/***************************/
/********* Post ************/
/***************************/
#post-page {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.post {
  margin-left: 0;
  width: 50%;
}
/***************************/
/********* upload button ***/
/***************************/

.upload-btn {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 3rem;
}

/***************************/
/********* Modal ***/
/***************************/

#add-post {
  margin-top: 1.5rem;
}

.modal-body {
  padding: 0 2rem;
  margin: auto;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-input {
  margin: 1rem 0;
  width: 100%;
}
.input-large {
  height: 150px;
  text-align: left;
  width: 100%;
}
.modal-input.tag {
  width: 65%;
}

.modal-body-footer {
  display: flex;
}
