/****************************/
/*******Settings*******/
/****************************/

#settings {
  display: flex;
  justify-content: space-between;
}

#settings h2 {
  margin-bottom: 4rem;
}

.settings-content {
  width: 50%;
}

.setting {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem 0rem;
}

.setting:last-of-type {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-img {
  width: 25vw;
  height: 60vh;
  align-self: flex-start;
  margin-top: 4rem;
}

.settings-img img {
  height: 100%;
  width: 100%;
}

.settings-btn .change-password-btn {
  width: 31%;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.settings-btn .change-password-btn:hover {
  opacity: 0.8;
}

.settings-btn.show .change-password-btn {
  background-color: var(--dark-color);
  color: var(--primary-color);
  cursor: pointer;
}

.change-password {
  width: 60%;
}

.change-password input {
  padding: 5px 8px;
  font-size: 1rem;
  border-radius: 7px;
  margin-top: 1.4rem;
  margin-left: 0.4rem;
  width: 100%;
  color: var(--graylight-color) !important;
  border: none;
}

.change-password input:focus {
  outline: none;
  box-shadow: 0 0 4px 2.5px var(--primary-color);
}

.password-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.password-btn button {
  margin-top: 2rem;
}

.password-btn .btn:last-child {
  margin-right: 0rem !important;
}
@media screen and (max-width: 768px) {
  .settings-img {
    display: none;
  }
  .settings-content {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
  }
}

/****************************/
/**********Contact***********/
/****************************/
.contact-header {
  width: 100%;
}

.contact-header h2 {
  font-size: 3.5rem;
}

.contact-header .contact-mail {
  color: var(--white-color);
  font-size: 1.5rem;
}

.row-card {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.row-card-2 {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.card {
  background-color: var(--graydark-color);
  width: 300px;
  height: 270px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.card-background {
  background: var(--primary-color);
  height: 100px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* 
.card-image {
  border-radius: 100%;
  width: 150px;
  height: auto;
  position: relative;
  top: 20px;
} */

.card-info {
  /* isme name,role,description daala hua hai */
  margin-top: -100px;
  padding: 10px;
}

#contact h1 {
  color: var(--white-color);
}

#contact p {
  color: var(--white-color);
}
.card-social-icons a {
  padding: 10px;
  font-size: 2rem;
  color: var(--white-color);
}

.card-social-icons a:hover {
  color: var(--primary-color);
}

/****************************/
/********** Profile *********/
/****************************/
.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 160px;
  width: 50vw;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-avatar img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}

.profile-user {
  margin-top: 1.5rem;
}

.profile-user p {
  color: var(--light-color);
  font-size: 0.85rem;
}

.profile-college {
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  color: var(--primary-color);
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  width: 100px;
  height: 50px;
}
.blob-btn:before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 6px solid var(--primary-color);
}
.blob-btn:after {
  content: '';
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  border: 6px solid #222;
  transition: all 0.3s 0.2s;
}
.blob-btn:hover {
  color: #222;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
}
.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

.profile-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin-top: 3rem;
}

.profile-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
}

.counter h2 {
  font-size: 3rem;
}

.rec.rec-arrow,
.rec.rec-arrow:hover,
.rec.rec-arrow:active {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
}

.rec.rec-arrow:disabled {
  opacity: 0.5;
}

.rec.rec-dot {
  box-shadow: 0 0 1px 3px var(--primary-color);
  margin: 0.8rem;

  margin-top: -30px;
}

.rec.rec-dot_active {
  background-color: var(--primary-color);
  color: var(--white-color);

  margin-top: -50px;
}
@media screen and (max-width: 768px) {
  .profile-head {
    width: 100vw;
    padding-right: 10vw;
    padding-left: 5vw;
    margin-top: -5vh;
  }
  .profile-head img {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .profile-score {
    display: block;
    margin: auto;
    padding: 0;
  }
  .profile-rank img {
    margin: auto;
    display: block;
    padding-bottom: 40px;
    margin-top: -30px;
  }
  .profile-counter {
    margin: auto;
    margin-left: -9vw;
  }
  .profile-badges {
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
