:root {
  --primary-color: #df1f3c;
  --dark-color: #030303;
  --white-color: #d7dadc;
  --light-color: #a5a5a7;
  --danger-color: #e96075;
  --success-color: #4ec07d;
  --graydark-color: #1a1a1b;
  --graylight-color: #272729;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--dark-color);
  color: var(--white-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Balsamiq sans'; */
  /* font-family: "Arvo", serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding-top: 8rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color);
}

.text-white {
  color: var(--white-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--white-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: var(--white-color);
}

.btn-graydark,
.bg-graydark,
.badge-graydark,
.alert-graydark {
  background: var(--graydark-color);
  color: var(--light-color);
}

.btn-graylight,
.bg-graylight,
.badge-graylight,
.alert-graylight {
  background: var(--graylight-color);
  color: var(--white-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  /* width: 100%; */
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/*****************************/
/****** Navbar ******/
/*****************************/
.navbar {
  width: 100%;
  padding: 0.5rem 4rem;
  margin-top: -1rem;
  position: fixed;
  z-index: 10000;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.navbar-brand {
  display: inline;
  margin: 0;
}

.navbar-brand img {
  height: 60px;
  width: 100px;
}

.navbar-brand:hover {
  background-color: transparent !important;
}

.navbar-profile-img {
  height: 60px;
  width: 200px;
}

.navbar ul {
  display: flex;
  float: right;
}

.navbar ul a {
  font-weight: 550;
  padding: 0.5rem 0.8rem;
  margin: 0 1rem;
  color: var(--white-color);
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

.navbar ul a:hover {
  color: var(--graydark-color);
  background-color: var(--white-color);
}

.navbar .btn {
  font-weight: 700;
  margin-top: -0.5rem;
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.nav-profile {
  width: 200px;
  margin-top: -1.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-profile-img {
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: 1rem;
  width: 40px !important;
  height: 40px !important;
}

.nav-username {
  margin-bottom: -1rem;
}
/* Dropdown Button */
.dropbtn {
  background-color: var(--graydark-color);
  color: var(--white-color);
  font-size: 16px;
  border: none;
  transition: all 0.3s ease-in;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--graylight-color);
  min-width: 230px;
  z-index: 1;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: -1.5px !important;
  font-size: 20px;
  text-align: left;
  border-radius: 0px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:last-of-type:hover {
  background-color: var(--danger-color);
  color: var(--white-color);
}

.dropdown-content a:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-content a:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content i {
  margin-right: 1rem;
  font-size: 1.7rem;
}

/********************************/
/************landing*************/
/********************************/
.landingSection {
  min-height: 100vh;
  color: var(--white-color);
}

.landing-main {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.landing-main .left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.landing-main .left h1 {
  font-size: 4rem;
  font-weight: 800;
}
.landing-main .left h6 {
  letter-spacing: 0.3rem;
  margin-top: -12px;
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}
.landing-main .left p {
  line-height: 2rem;
}
.landing-main img {
  height: 400px;
}

.landing-main .landing-btn {
  width: 28%;
  margin-top: 24px;
  font-weight: 400;
  padding: 0.5rem;

  border: 1px solid var(--primary-color);
  transition: 0.3s;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.landing-main .landing-btn:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  .landing-main .right {
    display: none;
  }
}

/****************************/
/*******NOT FOUND PAGE*******/
/****************************/

.not-found {
  width: 60vw;
  margin: auto;
  height: 60vh;
}
.not-found img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .not-found {
    margin-top: -5rem;
    width: 80vw;
  }
}
