:root {
  --primary-color: #df1f3c;
  --dark-color: #030303;
  --white-color: #d7dadc;
  --light-color: #a5a5a7;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --graydark-color: #1a1a1b;
  --graylight-color: #272729;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--dark-color);
  color: var(--white-color);
  overflow-x: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color);
}

.text-white {
  color: var(--white-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: var(--white-color);
}

.btn-graydark,
.bg-graydark,
.badge-graydark,
.alert-graydark {
  background: var(--graydark-color);
  color: var(--light-color);
}

.btn-graylight,
.bg-graylight,
.badge-graylight,
.alert-graylight {
  background: var(--graylight-color);
  color: var(--white-color);
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/*****************************/
/****** Navbar ******/
/*****************************/
.navbar {
  width: 100%;
  padding: 1rem 0;
}

.navbar-brand {
  width: 150px;
  height: 30px;
}
.navbar img {
  height: 100px;
  width: 200px;
}
.navbar ul {
  display: flex;
  float: right;
}

.navbar a {
  font-weight: 550;
  padding: 0.7rem 0.8rem;
  margin: 0 1rem;
  color: var(--white-color);
  transition: background-color 0.4s ease-in;
  border-radius: 10px;
}

.navbar a:hover {
  color: var(--graydark-color);
  background-color: var(--white-color);
}

.navbar .btn {
  font-weight: 700;
  margin-top: -0.5rem;
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

/*****************************/
/****** Login ******/
/*****************************/
.display-flex,
.display-flex-center,
.signin-content,
.social-login,
.socials {
  display: flex;
  display: -webkit-flex;
}

#login .socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#login a:focus,
#login a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

#login input {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

#login input:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

#login input[type='checkbox'] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

#login img {
  max-width: 100%;
  height: auto;
}

#login figure {
  margin: 0;
}

#login h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--white-color);
  font-size: 36px;
  margin-bottom: 1rem;
}

#login {
  height: 83vh;
}

.login-container {
  width: 900px;
  background: var(--dark-color);
  margin: 0 auto;
  font-size: 13px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#login .signin {
  margin-bottom: 150px;
}

#login .signin-content {
  padding: 75px 0;
}

.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.form-title {
  margin-bottom: 33px;
}

#login figure {
  margin-bottom: 50px;
  text-align: center;
}

#login .form-submit {
  display: inline-block;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
}
#login .form-submit:hover {
  opacity: 0.8;
}

.label-agree-term {
  margin-left: 1.5rem;
  margin-top: -1px;
}

#signin {
  margin-top: 16px;
}

.signin-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.login-form {
  width: 100%;
}

#login .form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
#login .form-group:last-child {
  margin-bottom: 0px;
}

#login input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
  background-color: transparent;
}
#login input::-webkit-input-placeholder {
  color: #999;
}
#login input::-moz-placeholder {
  color: #999;
}
#login input:-ms-input-placeholder {
  color: #999;
}
#login input:-moz-placeholder {
  color: #999;
}
#login input:focus {
  border-bottom: 1px solid #222;
}
#login input:focus::-webkit-input-placeholder {
  color: var(--white-color);
}
#login input:focus::-moz-placeholder {
  color: var(--white-color);
}
#login input:focus:-ms-input-placeholder {
  color: var(--white-color);
}
#login input:focus:-moz-placeholder {
  color: var(--white-color);
}

#login .agree-term {
  display: inline-block;
  width: auto;
}

#login label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: var(--light-color);
}

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}

#login .social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 3rem;
}

#login .social-label {
  display: inline-block;
  margin-right: 15px;
  font-size: 1rem;
}

#login .socials li {
  padding: 5px;
}
#login .socials li:last-child {
  margin-right: 0px;
}
#login .socials li a {
  text-decoration: none;
}
#login .socials li a i {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#login .socials li:hover a i {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}

.signin-image {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 60px;
}

/********************************/
/************landing*************/
/********************************/
.landingSection {
  min-height: 100vh;
  color: var(--white-color);
}

.landing-main {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.landing-main .left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.landing-main .left h1 {
  font-size: 4rem;
}
.landing-main .left h6 {
  letter-spacing: 0.3rem;
  margin-top: -12px;
  margin-bottom: 24px;
}
.landing-main img {
  height: 400px;
}

.landing-main button {
  width: 28%;
  margin-top: 20px;
  font-weight: 800;
}
/****************************/
/*******NOT FOUND PAGE*******/
/****************************/

.not-found {
  padding: 3rem 0;
  width: 60vw;
  margin: auto;
  height: 60vh;
}
.not-found img {
  height: 100%;
}

/********************************/
/************Register ***********/
/********************************/
.sign-up-bg {
  width: 100vw;
  height: 80vh;
  background: url('./img/sign-up.svg');
  position: absolute;
  top: 110px;
  left: 10px;
}

.register-card {
  padding: 40px;
  text-align: center;
  width: 500px;
  background: var(--graydark-color);
  border-radius: 0.25rem;
  z-index: 100;
  opacity: 0.95;
  transition: all 0.3s ease-in;
}

.register-card:hover {
  box-shadow: 0 0 30px 3px var(--graydark-color);
}

.register-card .form-item {
  margin: 12px 0;
  height: 32px;
  border: var(--graydark-color);
}
.register-card .form-item input,
.register-card .form-item select {
  padding: 4px 2px;
  font-size: 0.8rem;
  border-radius: 4px;
  width: 60%;
  color: var(--graylight-color) !important;

  border: none;
}
.register-card .form-item input:focus,
.register-card .form-item select:focus {
  outline: none;

  box-shadow: 0 0 4px 2.5px var(--primary-color);
}

.center {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* @media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .form-button {
    text-align: center;
  }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px;
  }
} */
